<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!--    <Appenders>   
        <RandomAccessFile name="InfoFile" fileName="C:\work\Log\info.log" immediateFlush="true" append="false">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>-->
    <Appenders>
        <RollingRandomAccessFile name="InfoFile" fileName="C:/work/Log/info.log" immediateFlush="false" append="true"  filePattern="C:/work/Log/info-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <pattern>%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{-10}.%M() @%L - %msg%n}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
       
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{-10}.%M() @%L - %msg%n}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        <AsyncLogger name="com.faber" level="info" includeLocation="true">
            <AppenderRef ref="InfoFile"/>
        </AsyncLogger>
    </Loggers>
 
</Configuration>